[Unit]
Description=lifeguard for system services
Requires=dbus.service dbus.socket
After=dbus.service dbus.socket

[Service]
Type=simple
BusName=org.yavdr.lifeguard
ExecStart=/usr/bin/lifeguard
TimeoutSec=5
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
